/* 
 *  Content
 *  ====
 *
 *  A picture's worth at least one blog post
 *
 */

img, embed, video{
  width: 100%;
  height: auto;
}

%unlist{
  list-style: none;
  padding-left: 0;
  ul, ol{
    padding-left: $base-line-height;
  }
}

iframe{
  position: relative;
  z-index: 5;
}

.video-underlay{
  position: fixed;
  background: rgba(0,0,0,0.8);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  display: none;
}