/* 
 *  Content
 *  ====
 *
 *  A picture's worth at least one blog post
 *
 */

img, embed, video{
  max-width: 100%;
  height: auto;
}

.frame{
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  @extend .dark;
  min-height: rhythm(12);
  @extend %relative;
  &:after{
    content: "";
    @extend %absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $dark-transparent;
  }
}