/* 
 *  Global Styles
 *  =============
 *
 *  All the things that apply to all the things
 *
 */

*{
  &,
  &:before, 
  &:after{
    box-sizing: border-box;
    transition: color $duration, background-color $duration;
  }
}

::selection{
  background: $primary;
  color: $light;
}