/* Site Header */
.site-header{
  @extend %fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $site-header-height;
  @extend %text-center;
  background: $light-transparent;
  line-height: $site-header-height;
  z-index: 8;
}
.masthead{
  font-size: ms(1);
  line-height: $site-header-height;
  @extend %inline-block;
  @extend %uppercase;
}
.menu-toggle{
  @extend %fixed;
  top: 0;
  right: 0;
  @extend %inline-block;
  @extend %text-center;
  height: $site-header-height;
  width: $site-header-height;
  line-height: $site-header-height;
  z-index: 10;
  .menu-open &{
    @extend .dark;
  }
}

/* Main Navigation */
.site-navigation{
  @extend %fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 20%;
  transform: translate(100%, 0);
  color: $light-transparent;
  padding: rhythm(1);
  @extend .dark;
  transition: transform $nav-toggle-duration;
  z-index: 9;
}

.main{
  transition: transform $nav-toggle-duration;
}

body{
  padding-top: $site-header-height;
}

.menu-open{
  .main{
    transform: translate(-20%, 0);
  }
  .site-navigation{
    transform: translate(0, 0);
  }
}