/* 
 *  Layout
 *  ======
 *
 *  The tectonic plates of your theme's ocean motion
 *
 */

body, html{
  max-width: 100%;
  height: 100%;
}

.main{
  min-height: 100%;
}

.container{
  width: 90%;
  margin: 0 auto;
  @extend %oh;
}

@media screen and (min-width: $laptop) {
  %grid{
    float: left;
    & + &{
      padding-left: rhythm(1);
    }
  }
  .one-third{ 
    @extend %grid;
    width: 33.333%;
  }
  .two-thirds{ 
    @extend %grid;
    width: 66.666%;
  }
}

// Placeholders
%full-width{
  width: 100%;
}
%fleft{
  float: left;
}
%fright{
  float: right;
}
%oh{
  overflow: hidden;
}
%inline{
  display: inline;
}
%inline-block{
  display: inline-block;
}
%block{
  display: block;
}
%absolute{
  position: absolute;
}
%fixed{
  position: fixed;
}
%relative{
  position: relative;
}