/* 
 *  Layout
 *  ======
 *
 *  The tectonic plates of your theme's ocean motion
 *
 */

body, html{
  max-width: 100%;
  height: 100%;
}

.main{
  min-height: 100%;
}

.container{
  width: 90%;
  margin: 0 auto;
  @extend %oh;
}

// Placeholders
%full-width{
  width: 100%;
}
%fleft{
  float: left;
}
%fright{
  float: right;
}
%oh{
  overflow: hidden;
}
%inline{
  display: inline;
}
%inline-block{
  display: inline-block;
}
%block{
  display: block;
}
%absolute{
  position: absolute;
}
%fixed{
  position: fixed;
}
%relative{
  position: relative;
}