.post, .page{
  .home &, .blog &{
    padding: rhythm(1,1em) 0;
    h2{
      margin-top: rhythm(1,1em);
    }
    &:not(.frame){
      padding: rhythm(2,1em) 0;
      h2{
        margin-top: 0;
      }
    }
  }
}

.post{
  &.even{
    text-align: right;
    &.frame{
      transform:scaleX(-1);
      h2, h3, h4, h5, h6, p, a{
        transform:scaleX(-1);
      }
    }
  }
  &:not(.frame) + &:not(.frame){
    border-top: 1px solid $medium;
  }
}

.frame{
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  @extend .dark;
  min-height: rhythm(12);
  @extend %relative;
  z-index: 0;
}
.frame-darken{
  @extend %absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $dark-transparent;
  z-index: 1;
  & + .container{
    @extend %relative;
    z-index: 2;
  }
}

.author-box{
  margin-top: rhythm(1);
  background: #f5f5f5;
  padding: rhythm(1);
}
.author-photo{ 
  @extend %fleft;
  @extend %oh;
  margin-right: rhythm(1);
  border-radius: 50%;
  height: $author-img-height;
  width: $author-img-height;
  background-clip: padding-box;
}
.author-name{
  font-size: ms(2);
  padding: 0;
  margin: 0;
}
.author-bio{
  margin-top: rhythm(1,1em);
  padding: rhythm(1) 0;
  clear: both;
  line-height: 1.3;
}
@media screen and (min-width: $tablet) {
  .author-name{
    margin-top: ($author-img-height - 30px)/2;
    margin-bottom: ($author-img-height - 45px)/2;
  }
}