.post, .page{
  p{
    &:first-of-type{
      font-size: ms(1);
    }
    & + p{
      text-indent: rhythm(1);
    }
    h2 + &{
      margin-top: rhythm(2); // TODO: change this to the proper compass mixin for leading
    }
  }
  .home &, .blog &{
    padding: rhythm(1,1em) 0;
  }
}