/// 
 //  Settings
 //  ========
 //
 //  Like driving a spaceship only better
 //
 ///

// Colors
$primary: #339;

$light: #fff;
$dark:  #313131;

$light-transparent: rgba(255,255,255,0.8);
$dark-transparent:  rgba(0,0,0,0.3);

// Type
$ms-base: 20px;
$ms-ratio: $augmented-fourth;
$base-font-size: ms(0);
$base-line-height: ms(1);

$type-max-width: 36rem;

$serif: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
$sans: "oil can", CenturyGothic, "AppleGothic", sans-serif;

// Layout
$site-header-height: rhythm(2, 1em);

// Animation
$duration: 300ms;
$nav-toggle-duration: 300ms ease-in-out;

// Breakpoints
$tablet: 600px;
$laptop: 900px;
$desktop: 1200px;
$huge: 1500px;