/* 
 *  Type
 *  ====
 *
 *  The sexy part of the stylesheet (if you're into this sort of thing)
 *
 */

@include establish-baseline();

body{
  font-weight: 100;
  @extend %serif;
}

p{
  @extend %base-type;
  @extend %type-max-width;
  .post &, .page &{
    h1 + &{
      @include margin-leader(3);
    }
  }
}

a{
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
h1, .h1{ 
  @include adjust-font-size-to(ms(4));
  @extend %fw-regular;
}
h2, .h2{ 
  @include adjust-font-size-to(ms(3)); 
  @include margin-leader(3, 1em);
  @extend %fw-regular;
}
h3, .h3{ 
  @include adjust-font-size-to(ms(2)); 
  @include margin-leader(2, 1em);
  @extend %fw-regular;
}
h4, .h4{ 
  @include adjust-font-size-to(ms(1)); 
  @include margin-leader(2, 1em);
  @extend %fw-heavy;
}
h5, .h5{ 
  @include adjust-font-size-to(ms(1)); 
  @extend %fw-regular;
}
h6, .h6{ 
  @include adjust-font-size-to(ms(-1));
  @include margin-trailer(-1, ms(0));
  font-weight: 900;
  @extend %uppercase;
}

ul{ 
  @extend %base-type;
  @extend %lists;
}
dl{ 
  @extend %base-type;
  @extend %lists;
}
ol{ 
  @extend %base-type;
  @extend %lists;
}


// Type utility
%base-type{
  font-size: $base-font-size;
  line-height: $base-line-height;
}
%lists{
  margin: rhythm(1) 0;
  padding-left: rhythm(1);
  p + &{
    margin-top: 0;
  }
}
%type-max-width{
  max-width: $type-max-width;
}
%fw-heavy{
  font-weight: 600;
}
%fw-regular{
  font-weight: 200;
}
%text-center{
  text-align: center;
}
%text-right{
  text-align: right;
}
%uppercase{
  text-transform: uppercase;
}
%serif{
  font-family: $serif;
}
%sans{
  font-family: $sans;
}