/* 
 *  Type
 *  ====
 *
 *  The sexy part of the stylesheet (if you're into this sort of thing)
 *
 */


 // Type utility
%text-center{
  text-align: center;
}
%text-right{
  text-align: right;
}
%uppercase{
  text-transform: uppercase;
}