/* 
 *  Type
 *  ====
 *
 *  The sexy part of the stylesheet (if you're into this sort of thing)
 *
 */

body{
  @include establish-baseline($base-font-size);
  font-weight: 100;
  font-family: $serif;
}

p{
  @extend %base-type;
  @extend %type-max-width;
}

a{
  text-decoration: none;
}

h1, .h1{ @include adjust-font-size-to(ms(5)); @extend %fw-heavy;}
h2, .h2{ @include adjust-font-size-to(ms(4));}
h3, .h3{ @include adjust-font-size-to(ms(3));}
h4, .h4{ @include adjust-font-size-to(ms(2));}
h5, .h5{ @include adjust-font-size-to(ms(1)); @extend %fw-heavy;}
h6, .h6{ @include adjust-font-size-to(ms(0)); @extend %fw-heavy;}

ul{ @extend %base-type;}
dl{ @extend %base-type;}
ol{ @extend %base-type;}


// Type utility
%base-type{
  font-size: $base-font-size;
  line-height: $base-line-height;
}
%type-max-width{
  max-width: $type-max-width;
}
%fw-heavy{
  font-weight: 500;
}
%text-center{
  text-align: center;
}
%text-right{
  text-align: right;
}
%uppercase{
  text-transform: uppercase;
}